/**
 * Home page
 */
.center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.align-middle {
	vertical-align: middle !important;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.my-dropdown {
	display: inline-block;
}

/**
 * Anonymizer
 */
.main-cont {
	margin: 0 auto;
	margin-top: 25px;
	width: 1024px;
	
	.canvas-holder {
		width: 1024px;
		height: 512px;
		float: left;
		position: relative;
		background: #eee;
		margin-bottom: 15px;
	}
}

.upload-previews {
	text-align: center;
	padding: 10px;
}

.crop-area {
	position: relative;
	width: 1024px;
	height: 583px;
	
	img {
		max-width: 100%;
	}
}
